/* RESET */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}
*,*::before,*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Links */
a,a:visited,a:hover {
  // color: inherit;
  text-decoration: none;
}
a:focus,a:active {
  outline: none;
}
input:focus,input:active,button:focus,button:active {
  outline: none;
}
html,body{
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
aside,nav,footer,header,section,main {display: block;}
h1,h2,h3,h4,h5,h6,p {
  font-size: inherit;
  font-weight: inherit;
}
ul, ol, li {list-style: none;}
img,svg {
  display: block;
  height: auto;
}
/* Form */
input,textarea,button,select {
  font-family: inherit;
  font-size: inherit;
}
input::-ms-clear {display: none;}
button::-moz-focus-inner{
  padding: 0;
  margin: 0;
}
button,input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
label {cursor: pointer;}
legend {display: block;}
/* RESET END */

/* BASE */
body {
  min-height: 100vh;

  font-size: 14px;
  font-weight: 400;
  color: #000;
  background-color: #FFFFFF;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  user-select:none;
}

.content{
  flex: 1 1 auto;
}
.container{
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
}