@import "_reset";
.container {
}

.title {
	text-align: center;
	font-size: 30px;
	padding: 30px;
}
.search {
		&__wrapper {
			width: 800px;
			margin: 0 auto;
		}
		&__form {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__input-wrapper{
			width: 100%;
			height: 50px;
			font-size: 20px;
			padding: 0 20px;
			border: 2px solid #000;
			border-radius: 25px;
			background: #FFF;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__input {
			width: 100%;
			height: 100%;
		}
}

.search-result {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #000;
	&_error{
		display: block;
		text-align: center;
	}
	&__wrapper{
		margin: 20px 0 0 0;
		font-size: 22px;
	}
	&__loginLink {
		margin: 20px 0 0 0;
		display: inline-flex;
		align-items: center;
		&:hover{
			color: red;
		}
	}
	&__img {
		height: 50px;
		width: 50px;
		border-radius: 50%;
	}
	&__login {
		margin: 0 20px;
		text-align: center;
		font-size: 20px;
		transition: all 0.2s ease-in;
	}
	&__name {
		display: inline-block;
		margin: 20px 20px 0 20px;
		font-size: 18px;
		transition: all 0.2s ease-in;
		&:hover{
			color: red;
		}
	}
	&__description {
		margin: 20px 0 0 20px;
		font-size: 16px ; 
		line-height: 120%;
	}
	&__footer{
		margin: 20px;
		font-size: 12px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	&__language{
		margin: 0 auto 0 0;
	}
	&__dateUpdate{
		margin: 0 0 0 auto;
	}
}

._hidden{
	display: none;
}