.footer{
	margin-top: 100px;
	height: 500px;
	padding: 70px 0 0 0;
	background: #3F4E65;
	color: #FFFFFF;
	&__container{
		display: flex;
	}
	&__info{
		max-width: 320px;
		margin: 0 40px 0 0;
		
	}
	&__nav{
		flex: 1 1 auto;
		justify-content: space-between;
	}

}
.footer-info{
	&__logo{
		&_wrapper{
			display: flex;
			align-items: center;
		}
		&_img{
			margin: 0 7px 0 0;
		}
	}
	&__desc{
		margin: 15px 0 0 0;
		font-size: 16px;
		line-height: 150%;
	}
	&__subtitle{
		font-size: 12px;
		line-height: 150%;
		margin: 45px 0 14px 0;
	}
}

.footer-nav{
	&__list{
		&_title{
			font-weight: 600;
			font-size: 20px;
			line-height: 150%;
		}
	}
	
	&__item{
		
		display: flex;
		flex-direction: column;
		margin: 20px 0 0 0;
	}
	&__logo{
		margin-top: 20px;
		&:not(:last-child){
			margin-right: 10px;
		}
	}
}
.footer-social{
	&__title{
		line-height: 150%;
	}
}