.wrapper{
	display: flex;
	align-items: center;
}
.item{
	display: flex;
	flex-direction: column;
	text-align: start;
}

.icon{
	margin: 0 20px 0 0;
	color: #3F4E65;
}
.title{
	font-size: 14px;
	font-weight: 600;
	line-height: 130%;
}
.subtitle{
	font-size: 12px;
	font-weight: 300;
	line-height: 130%;
}
